<div class="container">
  <div class="well" style="background-color: #7B0082; color: white">
    <h3>
      <b>The Aims and Objectives of our forum:</b>
    </h3>
  </div>
  <ol>
    <li>
      Namma Bidar Welfare Association is a non-profit, non-govt association.
    </li>
    <li>
        Our Main objective is to Bring all Bidar people residing outside Bidar district under one platform and helping each other.
    </li>
    <li>
        Another main agenda is  contributing back to our motherland Bidar  overall Development.
    </li>
    <li>
        To create a sense of brotherhood, love and affection, among the members of our Association.
    </li>
    <li>
        To under take various social service activities for the overall development of our Bidar District.
    </li>
    <li>
        Our Aim is to  provide meaningful education that brings human values in children.
    </li>
    <li>
        Development of Health Programmes.
    </li>
    <li>
        To focus on the quality education for Bidar children .
    </li>
    <li>
        To offer mutual support and provide a forum for discussion.
    </li>
    <li>
        To take up effective, reasonable and lawful steps for the solution of problems relating to members of  our Forum or relating to Bidar District. 
    </li>
    <li>
        To undertake and participate in programmes pertaining to health, education, employment
    </li>
    <li>
        To conduct and or participate in seminars, camps, conferences, research and training programmes.
    </li>
    <li>
        To organize social activities and cultural programmes for the members and their families.
    </li>
    <li>
        To exchange views, information, data between the members.
    </li>
    <li>
        To communicate and participate in different developmental schemes of Central and State Governments
    </li>
    <li>
        To undertake and assist agricultural development, irrigation and waste & dry land development;
    </li>
    <li>
        To render help to the needy, deserving or distressed members and or their dependents.
    </li>
    <li>
        To organize sports events for members and or other cultural, literary, social events for the benefit of the members of the Association
    </li>
    <li>
        To encourage and implement projects for developing amenities and clean living environment and other such activities to improve the quality of life and well being of the Bidar District.
    </li>
    <li>
        To improve the livelihoods of rural poor through efficient management of natural resources and increased productivity, profitability and diversity of the farming systems.
    </li>
    <li>
        To facilitate agro processing, value addition and market linkages for enhanced on farm and off-farm income and employment generation.
    </li>
    <li>
        To undertake environmental protection activities viz. afforestation, wild life preservation of our Bidar.
    </li>
  </ol>

</div>