<div class="container">
  
    <h3 style="background-color: #7B0082; color: white">
      <b>History Of Bidar<hr></b>
    </h3>
  
  <p>
    <b>Bidar</b> is a historic place located in the north-eastern part of the South Indian state of Karnataka.
    <b>Bidar</b> enjoys a picturesque situation, having been situated and built on the brink of a plateau, and thus commanding
    lovely views of the lowlands (talghat) towards the north and the east. Its latitude is 17°55'N., its longitude 77°32'
    E., and the height above the sea-level 2,330 feet (710 m). The climate is bracing and the temperature in the hottest
    season does not usually rise above 105 °F (41 °C). The Bidar plateau is an irregular oblong, 22 miles (35 km) in length
    and 12 miles (19 km) in extreme breadth</p>
  
    <h3 style="background-color: #7B0082; color: white">
      <b>Ancient Period<hr></b>
    </h3>
 
  <p>Traditional tales describe
    <b>Bidar</b> as the place where
    <b>Vidura</b> (one of the central character in the
    <b>hindu epic Mahabharata</b>) lived and the place was thus known as
    <b>Viduranagara</b>.Legend has associated Bidar with the ancient
    <b>kingdom of Vidarbha</b>, to which references are found in early
    <b>Hindu literature</b>.But the situation of the latter kingdom has been determined by modern research, and it is now considered
    that Vidarbha occupied the country which was called
    <b>Berar</b>. The rulers of the kingdom are supposed to have been vassals of the Andhra rajas, whose dominions covered the
    plateau of the Deccan and at times extended over a much wider area. Bidar, which is some 200 miles (320 km) south-east
    of Paithan, the ancient capital of the Andhra kings, must have been included in the territory of the latter, and it has
    been associated with Vidarbha apparently on account of the similarity in names Bidar and
    <b>Vidarbha</b>.The identity of Bidar with Vidarbha was, however, a common belief in Firishta's time, for he, when referring
    to the romances of the early rulers of Bidar, describes the love-story of
    <b>Nala</b> and
    <b>Damayanti</b> (daughter of Raja Bhima of Vidarbha).</p>
  
    <h3 style="background-color: #7B0082; color: white">
      <b>Classical Period<hr></b>
    </h3>
  
  <p>During the
    <b>Kadamba's</b> reign, the rule of
    <b>Mayurasharma</b> (325-345 A.D.) and that of
    <b>Kakusthavarma</b> (405-430 A.D.) were prominent.Their rule was confined up to the southern part of Bidar district. Kadambas
    extended their patronage to
    <b>Shaiva, Vaishnava and Jaina</b> dharmas.Their rule lasted for over 200 years.</p>
  <p>The history of the (Deccan) region in general and Karnataka in particular assumes special significance with the commencement
    of the rule of the Chalukyas of Badami (c. 500-757 A.D.) also called as the Early Western Chalukyas to distinguish them
    from the Later Chalukyas who ruled from their Capital at
    <b>Kalyana</b>.The Chinese traveller
    <b>Hieun-Tsang</b> visited the
    <b>Chalukyan</b> kingdom during 634-635 A.D. under the reign of
    <b>Pulakeshi</b> II and has paid a handsome tribute to the king and the prosperity of the kingdom.Kirtivarma II (c.745-757
    A.D.) was the last ruler of the dynasty which was established by Jayasimha who ruled between 500 A.D. and 520 A.D.</p>
  <p>
    <b>Rashtrakutas</b> established their rule from early 750s which lasted till early 970s. They were highly distinguished
    dynasties of the Deccan & Karnataka. Some accounts relate them to
    <b>Latur</b> as the place of their origins. Krishna I and Govinda III were the great kings of the period. Amoghavarsha I
    moved the capital to Manyakheta (present day Malkhed) and beautified it. He patronised many religions including
    <b>Buddhism</b>.After a long reign of 64 years, he died in 878 A.D. and was succeeded by his son, Krishna II, who later
    developed friendly relations with the Arabs.</p>
  <p>The Rashtrakuta Empire was perhaps the most extensive than any of their Hindu successors in the Deccan. In no other period
    of ancient Indian history did the Deccan enjoy their political prestige which it did during the time of Rashtrakutas.
    The remarks of Arab traveller Sulaiman (851 A.D.) that this empire was one of the four great empires of the world and
    they were the most feared rulers of India. Temple building saw a great boom in this period. Ellora and other rock-cut
    / cave temples have been built under this dynasty.</p>
  <p>
    <b>The Chalukyas of Kalyana</b> were so called because they ruled from their capital
    <b>Kalyananagara</b> (modern day Basavakalyan) and are considered to be the descendants of the Chalukyas of Badami. The
    first king of the dynasty was Taila II (Tailapa II) who ruled from 973-997 A.D. after overthrowing Karka II, the last
    king of Rashtrakutas. The famous kannada poet
    <b>Ranna</b> also mentions of him belonging to Badami lineage. Taila II fought against the
    <b>Cholas</b> and defeated
    <b>Rajaraja Chola</b> in 992 A.D. and later his son Ahavamalla (
    <b>Satyashraya</b>) in 995 A.D. again defeated Chola's Army.</p>
  <p>Satyashraya who had the titles of Ahavamalla, Irivabedanga, Sahasabhima and Sattiga ruled from 997 A.D. to 1008 A.D. The
    hostility between Chalukyas and Cholas continued during this period also. Rajaraja Chola I and later his son Rajendra
    Chola marched against Satyashraya. The Cholas came up to Bijapur (present day Vijayapura) and ransacked the whole kingdom
    causing great violence. But Satyashraya drove them back. Ranna was patronised by Satyashraya.Despite his military engagements,
    he built his capital Kalyana and made it famous.</p>
  <p>The fifty-year rule of Vikramaditya VI (1076-1127 A.D.) was a glorious period in Karnataka's history. Many temples were
    built in this period which have some of the finest sculpture. In the temple at Jalsangi (Jalasangvi) is a beautiful sculpture
    which depicts a young woman writing an inscription paying great tribute to Vikramaditya VI. Thus Karnataka became a great
    centre of cultural activities.He was succeeded by Someshvara III (father of Taila III)</p>
  <p>During the reign of Taila III (1149-1162 A.D.), the Kalachuri Bijjala II was first to rebel against the Chalukyans and
    was largely responsible for the downfall of Chalukyas. By 1153 A.D., he proclaimed independence and occupied many parts
    of the Chalukyan kingdom. Thus was the southern Kalachuri established.</p>
  <p>The Kalachuris belonged to the Kattacchhuri family which ruled in Madhya Pradesh. Bijjala II was son of Permadi. Kalachuri
    chiefs were subordinates to the Chalukyans and were also in matrimonial alliances with them. Bijjala II was also a grandson
    of Vikramaditya VI. In about 1162 A.D., Bijjala II defeated Taila III replacing him as King. But his rule came to an
    end after 5 years due to opposition by the loyal feaudatories of Chalukyas. In all his political activities, Bijjala
    II was greatly helped by his able General Kasapayyanayaka. Bijjala's treasurer was the celebrated religious leader Basaveshwara.
    Bijjala II died in 1167 A.D.Singhana was the last king of Kalachuri Dynasty which ended in 1184 A.D.</p>
  <p>Someshvara IV (successor of Taila III) who had left the kingdom and ruled in nominal capacity re-captured the kingdom from
    Kalachuris in 1184 A.D. with the help of his able General Brahma and ruled until 1186. He was then challenged by the
    Hoysalas and Seunas. He lived up to 1198 A.D. as testified by the inscriptions but he was no longer the Chalukyan monarch.
    Hoysala Ballala II took over the Basavakalyan fort.</p>
  <p>During all this period it was political supremacy and cultural development moving hand in hand. In administration it evolved
    new principles which made the people happy and kingdoms prospered. Some of the luminaries in Kannada and Samskrita flourished
    in this era. The period also marked inauguration of a new social and religious movement under the leadership if Basaveshwara.
    This helped the growth of Vachana literature in Kannada.</p>
  <p>In the excavations carried out by the Archaeological Department, State of Hyderabad , some sculptures and broken tablets
    bearing inscriptions have been found in the Bidar fort; but they do not carry back the history of the place earlier than
    the 10th century A.D., when it was apparently included in the kingdom of the later Chalukyas (A.D. 974-1190), whose capital,
    Kalyani (present day Basavakalyan) is only 36 miles (58 km) west of Bidar. The power of the Chalukyas, however, rapidly
    declined during the rule of the last three kings of the dynasty, and a large portion of their territory was occupied
    by the Yadavas of Deogiri and the Kakatiyas of Warangal, whose kingdoms were at the zenith of their glory in the eleventh
    and twelfth centuries. Bidar was apparently annexed to the Kakatiya kingdom, for in A.D. 1322, when Prince Ulugh Khan
    marched upon Warangal, he besieged and conquered the town of Bidar, which was on the frontiers of Telangana.</p>
  <p>An inscription of Ghiyath-ud-Din Tughluq, dated A.D. 1323, recently found at Kalyani, shows that the latter town was also
    conquered by Ulugh Khan in this expedition, but the absence of Kalyani's name in this connexion in contemporary history
    shows that Bidar at that time was a more important town than Kalyani, the glory of which seems to have faded with the
    decline of the Chalukyas. In this inscription Kalyani is mentioned as only a qasba, or minor town.</p>


</div>
<br/><br/>