.nav1{
  color:white;
  font-size: 30px;
  font-variant: 20px;
  text-shadow: 2px 2px 3px white;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    
    color: white;
  }
  
  .fa-twitter {
   
    color: white;
  }
  
  .fa-google {
    
    color: white;
  }
  
  .fa-linkedin {
    
    color: white;
  }
  
  .fa-youtube {
   
    color: white;
  }
  
  .fa-instagram {
    
    color: white;
  }
  
  .fa-pinterest {
    color: white;
  }
  
 
  
  
  
