<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar" style="background-color:#7B0082">
  <div class="container">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink='home' class="navbar-brand" class="nav1">Namma Bidar</a>
      
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav" style="float: right;text-shadow: 1px 1px white;font-size: 13px">
        <li>
          <a routerLink='home'>
            <span class="glyphicon glyphicon-home" style="color: black"></span>
            <b>Home</b>
          </a>
        </li>
        <li>
          <a routerLink='about'>
            
            <b>About</b>
          </a>
        </li>
        <li>
          <a routerLink='history'>
            
            <b>History</b>
          </a>
        </li>
        <li>
          <a routerLink='gallery'>
              <span class="glyphicon glyphicon-picture" style="color: black"></span>
            <b>Gallary</b>
          </a>
        </li>
        <li>
          <a routerLink='activities'>
            <b>Activities</b>
          </a>
        </li>
        <li>
            <a routerLink='events'>
              <b>Events</b>
            </a>
          </li>
          <li>
              <a routerLink='sendmessage'>
                  <span class="glyphicon glyphicon-envelope" style="color: black"></span>
                <b>Send Message</b>
              </a>
            </li>
        <li>
          <a routerLink='contactus'>
              <span class="glyphicon glyphicon-earphone" style="color: black"></span>
            <b>Contact Us</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/>
<br/>
<br/>
<div class="container">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-inverse navbar-bottom" style="background-color:#7B0082;">
  <div class="container" style="text-align: center">
    <a href="https://www.facebook.com/nammabidar" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/NammaBidar" target="_blank" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-pinterest"></a>
  </div>
  <div class="container" style="text-align: center;color: white">
    <label>&copy; 2017 Namma Bidar Welfere Association, Bengaluru</label>
  </div>
</nav>

