<div class="container">
    <div class="well">
        <span class="glyphicon glyphicon-envelope"></span>
        
        <button type="button" class="btn btn-primary" style="background-color: #7B0082; color: white">Send Message</button>
      </div>
<div>
  <form>
    <div class="form-group">
      <label for="usr">First Name:</label>
      <input type="text" class="form-control" id="usr" placeholder="Type Your First Name">
    </div>
    <div class="form-group">
      <label for="usr">Last Name:</label>
      <input type="text" class="form-control" id="usr" placeholder="Type Your Last Name">
    </div>
    <div class="form-group">
      <label for="usr">Email:</label>
      <input type="text" class="form-control" id="usr" placeholder="Type Your Email">
    </div>
    <div class="form-group">
      <label for="usr">Mobile No:</label>
      <input type="number" class="form-control" id="usr" placeholder="Type Your Mobile Number">
    </div>

    <div class="form-group">
      <label for="usr">Message:</label>
      <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="Type Your Message here"></textarea>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember"> Remember me</label>
    </div>
    <div>
      <a href="mailto:snagankera@gmail.com?subject=Hello world&body=Line one%0DLine two">
      <button type="submit" class="btn btn-success" style="width: 150px;height: 40px">
        <b>Send Message</b>
      </button></a>
      <button type="Reset" class="btn btn-danger" style="width: 150px;height: 40px">Reset</button>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </form>
</div>
</div>
